@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #f0f2f5;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 500px);
  grid-template-rows: 28rem 8rem 120px 140px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding-top: 72px;
}

@media (max-width: 800px) {
   .container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
  }
  .sol{
    padding-bottom: 40px;
  }
  .sol h2 {
    margin-top: 0;
  }
  .sol h6{
    margin: 0;
    padding: 0;
  }
  .sayfaolustur {
    text-align: center;
    padding: 20px 0 120px;
    width: 100%;
  }
}

.sol{
  grid-column: 1 / 2 ;
  padding-bottom: 80px;
}

@media (max-width: 1000px) {
  .sol {
    width: 450px;
  }
}

.sol h2 {
  color: #1877f2;
  font-size: 81px;
  font-weight: 700;
  margin-bottom: 0;
}

.sol h6 {
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 28px;
  margin: 0 0 60px 0;
  font-weight: normal;
}

.sag {
  background: white;
  width:400px;
  height: 360px;
  border-radius: 7px;
  grid-column: -2 / -1;
  grid-row: 1 / 2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1),
              0 8px 16px rgba(0, 0, 0, .1);
  justify-self: center;
}

.sagust {
  margin: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputs {
  margin: 10px;
  width: 360px;
  height: 50px;
  border-radius: 7px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 20px;
  outline: none;
}

.inputs:active,
.inputs:focus {
  border: 1px solid #1877f2;
  box-shadow: 0 0 0 2px #e7f3ff;
  caret-color: #1877f2;
  border-radius: 7px;
}

.girisyap {
  background: #1877f2;
  color: white;
  font-weight: bold;
  font-size: 21px;
}
.girisyap:hover {
  background-color: #1770e3;
  cursor: pointer;
}

.sifre {
  text-decoration: none;
  color: #1877f2;
  font-size: 15px;
  margin: 16px 16px 0 16px;
}

.sifre:hover,
.olusturr:hover{
  text-decoration: underline;
}

.cizgi {
  align-items: center;
  border-bottom: 1px solid #dadde1;
  display: flex;
  margin: 20px 16px;
  text-align: center;
  width: 95%;
}
.yenihesap {
  background-color: #42b72a;
  color: white;
  border-radius: 6px;
  font-size: 17px;
  font-weight: bold;
  border:none;
  line-height: 38px;
  width: 180px;
  outline: none;
}
.yenihesap:hover {
  background-color: #389924;
  cursor: pointer;
}

.sayfaolustur {
  grid-column: -2 / -1;
  grid-row: 2 / 3;
  align-self: start;
  text-align: center;
}

.olusturr {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

footer {
  background-color: white;
  height: 100%;
  line-height: 1.6;
  grid-row: 4/5;
  grid-column: span 2;
  padding-top: 21px;
  width: 109%;
}


.diller,
.enalt {
  display: flex;
  font-size: 12px;
  list-style: none;
  margin: 0 auto;
  width: 93%;
  flex-wrap: wrap;
}

.diller li,
.enalt li {
  margin-right: 24px;
  color: #737373;
  cursor: pointer;
}
.diller li:hover,
.enalt li:hover {
  text-decoration: underline;
}

.cizgi2 {
  border-bottom: 1px solid #dadde1;
  display: flex;
  text-align: center;
  margin: 6px auto;
  width: 86%;
}

.span{
  font-size: 12px;
  color: #737373;
  width: 86%;
  margin: 0 auto;
  margin-top: 14px;

}

/* @media only screen and (max-width: 900px)
  ._8esk {
    display: flex;
    flex-direction: column;
    text-align: center; */
